* {
  /* border: 1px solid red; */
}

/* reset */
body,
h1,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

button {
    border: 0;
    background: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
    -wetkit-appearance: none;
}

button:focus {
    outline: none;
}

/* layouts */
.l_wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.l_row {
   margin: 0 -10px -20px -10px;
}

.l_row:after {
   content: ' ';
   display: table;
   clear: both;
}

.l_col {
  float: left;
  width: 33.333333%;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.l_col_12_12 {
  width: 100%;
}
.l_col_11_12 {
  width: 91.66666667%;
}
.l_col_10_12 {
  width: 83.33333333%;
}
.l_col_9_12 {
  width: 75%;
}
.l_col_8_12 {
  width: 66.66666667%;
}
.l_col_7_12 {
  width: 58.33333333%;
}
.l_col_6_12 {
  width: 50%;
}
.l_col_5_12 {
  width: 41.66666667%;
}
.l_col_4_12 {
  width: 33.33333333%;
}
.l_col_3_12 {
  width: 25%;
}
.l_col_2_12 {
  width: 16.66666667%;
}
.l_col_1_12 {
  width: 8.33333333%;
}

/* commons */
.hide {
   position: absolute;
   width: 0;
   height: 0;
   overflow: hidden;
}

/* components */
.header {
  background: url("./images/header-bg.png") repeat;
  color: orangered;
  padding-top: 100px;
}


.header-container {
  position: relative;
  border-width: 30px 30px 0 30px;
  border-style: solid;
  padding: 40px;
  overflow: hidden;
}

.header-cover {
  float: right;
  width: 30%;
  transition: all .4s;
}

.header-contents {
  overflow: hidden;
}

.header-title {
  display: inline-block;
  font-weight: normal;
  letter-spacing: 0.5em;
  margin-bottom: 30px;
  position: relative;
}

.header-title::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  margin-right: 0.5em;
  height: 10px;
  border-radius: 4px;
  background-color: currentColor;
}

.header-description {
  line-height: 1.5;
}



.contents {
  background-color: rgb(221, 221, 221);
  padding: 20px;
}

.wood {
  background-color: white;
  color: orange;
  border-radius: 5px;
  overflow: hidden;
}

.wood-cover {
  width: 100%;
}

.wood-contents {
  border-top: 4px solid;
  background-color: white;
  overflow: hidden;
}

.wood-title {
  font-size: 16px;
  float: left;
  margin-left: 8px;
  line-height: 50px;
}

.wood-button {
  float: right;
  width: 50px;
  height: 50px;
  background-image: url(images/play.png);
}



.footer {
  border-top: 2px solid #ccc;
  text-align: center;
  font-weight: 600;
  letter-spacing: 10px;
  font-size: 13px;
  padding: 20px;
  color: rgb(187, 187, 187);
}

@media (max-width: 1024px) {
  .header {
    padding-top: 0;
  }
  .header-container {
    border-width: 20px 20px 0 20px; 
  }
}

@media (max-width: 768px) {
  .header-container {
    border-width: 10px 10px 0 10px;
    padding: 30px;
  }

  .l_col_m_12_12 {
    width: 100%;
  }
  .l_col_m_11_12 {
    width: 91.66666667%;
  }
  .l_col_m_10_12 {
    width: 83.33333333%;
  }
  .l_col_m_9_12 {
    width: 75%;
  }
  .l_col_m_8_12 {
    width: 66.66666667%;
  }
  .l_col_m_7_12 {
    width: 58.33333333%;
  }
  .l_col_m_6_12 {
    width: 50%;
  }
  .l_col_m_5_12 {
    width: 41.66666667%;
  }
  .l_col_m_4_12 {
    width: 33.33333333%;
  }
  .l_col_m_3_12 {
    width: 25%;
  }
  .l_col_m_2_12 {
    width: 16.66666667%;
  }
  .l_col_m_1_12 {
    width: 8.33333333%;
  }
}

@media (max-width: 640px) {
  .header-container {
    border-width: 5px 5px 0 5px;
    padding: 20px;
  }
    
  .header-cover {
    display: none;
  }

  .l_col_s_12_12 {
    width: 100%;
  }
  .l_col_s_11_12 {
    width: 91.66666667%;
  }
  .l_col_s_10_12 {
    width: 83.33333333%;
  }
  .l_col_s_9_12 {
    width: 75%;
  }
  .l_col_s_8_12 {
    width: 66.66666667%;
  }
  .l_col_s_7_12 {
    width: 58.33333333%;
  }
  .l_col_s_6_12 {
    width: 50%;
  }
  .l_col_s_5_12 {
    width: 41.66666667%;
  }
  .l_col_s_4_12 {
    width: 33.33333333%;
  }
  .l_col_s_3_12 {
    width: 25%;
  }
  .l_col_s_2_12 {
    width: 16.66666667%;
  }
  .l_col_s_1_12 {
    width: 8.33333333%;
  }
}

