* {
  /* border: 1px solid red; */
}

/* reset */
body,
h1,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* layouts */
.l_wrapper {
  max-width: 960px;
  margin: 0 auto;
}

/* commons */
.l_col {
  float: left;
  width: 33.333333%;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.l_col_12_12 {
  width: 100%;
}
.l_col_11_12 {
  width: 91.66666667%;
}
.l_col_10_12 {
  width: 83.33333333%;
}
.l_col_9_12 {
  width: 75%;
}
.l_col_8_12 {
  width: 66.66666667%;
}
.l_col_7_12 {
  width: 58.33333333%;
}
.l_col_6_12 {
  width: 50%;
}
.l_col_5_12 {
  width: 41.66666667%;
}
.l_col_4_12 {
  width: 33.33333333%;
}
.l_col_3_12 {
  width: 25%;
}
.l_col_2_12 {
  width: 16.66666667%;
}
.l_col_1_12 {
  width: 8.33333333%;
}

/* components */
.header {
  display: inline-block;
  width: 100%;
  background: url("./images/header-bg.png") repeat;
}

.header-container {
  position: relative;
  border: 30px solid orange;
  border-bottom: 0;
  margin-top: 100px;
  padding: 40px;
  padding-right: 300px;
  background: url("./images/container-bg.png") no-repeat;
  background-position: right;
}

.header-title {
  display: inline-block;
  color: orange;
  border-bottom: 5px solid orange;
  font-weight: normal;
  letter-spacing: 10px;
  margin-bottom: 30px;
}

.header-description {
  color: orange;
  line-height: 30px;
}

.contents {
  background: rgb(221, 221, 221);
  padding: 30px;
}

.l_row {
  overflow: hidden;
  margin: 0 -16px;
}

.wood-wrapper {
  border-radius: 5px;
  overflow: hidden;
}

.wood-cover {
  width: 100%;
  vertical-align: top;
}

.wood-item-bottom {
  border-top: 4px solid orange;
  background-color: white;
  overflow: hidden;
}

.wood-item-bottom .title {
  font-size: 16px;
  color: orange;
  display: inline;
  margin-left: 8px;
  line-height: 50px;
}

.wood-item-bottom .play {
  float: right;
}

.footer {
  border-top: 2px solid #ccc;
  text-align: center;
  font-weight: 600;
  letter-spacing: 10px;
  font-size: 13px;
  padding: 20px;
  color: rgb(187, 187, 187);
}

@media (max-width: 1024px) {
  .header-container {
    border: 20px solid orange;
    border-bottom: 0;
    padding-right: 40px;
    background: none;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .header-container {
    border: 10px solid orange;
    border-bottom: 0;
    padding: 30px;
  }

  .l_col_m_12_12 {
    width: 100%;
  }
  .l_col_m_11_12 {
    width: 91.66666667%;
  }
  .l_col_m_10_12 {
    width: 83.33333333%;
  }
  .l_col_m_9_12 {
    width: 75%;
  }
  .l_col_m_8_12 {
    width: 66.66666667%;
  }
  .l_col_m_7_12 {
    width: 58.33333333%;
  }
  .l_col_m_6_12 {
    width: 50%;
  }
  .l_col_m_5_12 {
    width: 41.66666667%;
  }
  .l_col_m_4_12 {
    width: 33.33333333%;
  }
  .l_col_m_3_12 {
    width: 25%;
  }
  .l_col_m_2_12 {
    width: 16.66666667%;
  }
  .l_col_m_1_12 {
    width: 8.33333333%;
  }
}

@media (max-width: 640px) {
  .header-container {
    border: 5px solid orange;
    border-bottom: 0;
    padding: 20px;
  }

  .l_col_s_12_12 {
    width: 100%;
  }
  .l_col_s_11_12 {
    width: 91.66666667%;
  }
  .l_col_s_10_12 {
    width: 83.33333333%;
  }
  .l_col_s_9_12 {
    width: 75%;
  }
  .l_col_s_8_12 {
    width: 66.66666667%;
  }
  .l_col_s_7_12 {
    width: 58.33333333%;
  }
  .l_col_s_6_12 {
    width: 50%;
  }
  .l_col_s_5_12 {
    width: 41.66666667%;
  }
  .l_col_s_4_12 {
    width: 33.33333333%;
  }
  .l_col_s_3_12 {
    width: 25%;
  }
  .l_col_s_2_12 {
    width: 16.66666667%;
  }
  .l_col_s_1_12 {
    width: 8.33333333%;
  }
}
